/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  }
  
  .contact-icon {
    background: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGczM2M3YXQ5ZWFnZmNzNW1sNzAyZXA2M200ZTJweXJkYXVtOGFwMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/aAZXqHueGdUntFcKZC/giphy.webp") no-repeat center center;
    background-size: cover;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px #888888;
    transition: transform 0.3s ease;
    height: 70px;
    width: 70px;
  }
  

  .contact-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:left ;
  }
  
  .contact-icon:hover {
    transform: scale(1.1);
  }
  
  /* Contact Form Modal */
  .contact-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .form-container {
   
    border-radius: 50px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 4px 10px #888888;
    text-align: center;
    overflow: hidden;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 600;
    font-family: Poppins;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 5px 5px #888888
  }
  
  form button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #333;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .form-container {
      width: 95%;
    }
  }
  


  /* Loader Styles */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
